#center{
  text-align:center;
font-size:150%;
  }
#position{
display:block;
  text-align:center;
font-size:175%;
color:#FFA500;
background-color:#800080;
  }
#position1{
  display:block;
margin-left:45%;
margin-right:auto;
width:25%;
}
#cycles{
  text-align:left;
font-size:100%;
}
a{
  text-decoration:none;
  color:#FFA500;
  font-family:Georgia;
}
a:hover{
  color:#800080;
}

html{
  border:3px solid #000000;
  height:auto;
  width:100%;
  margin:5px;
  margin-right:15px;
}



#arrow{
color:#800080;
display:inline;
font-size:100%;
}
@media screen and (max-width: 480px) {
   #position{
display:block;
  text-align:center;
font-size:100%;
color:#FFA500;
background-color:#800080;
  }
#center{
  text-align:center;
font-size:90%;
}
#cycles{
  text-align:left;
font-size:80%;
}
a:hover{
  color:#800080;
}
#position1{
display:block;
margin-left:45%;
margin-right:auto;
width:30%;
}

}
